---
layout: blank--has_nav
title: Team
description: We build and maintain a learning culture
permalink: /team/
current: template
---
<main>
  <header role="banner">
    <div class="landing-hero">
      <div class="landing-hero-headlines">
        <div class="landing-wrapper">
          <h1>
            Fullbridge Team
          </h1>
          <h2>
            We build and maintain a learning culture.
          </h2>
        </div>
      </div>
    </div>
  </header>
  <hr class="divider" role="separator">
  <article role="article">
    <section role="region">
      <div class="landing-section">
        <div class="wrapper">
          <div class="golden-ratio">
            <div class="golden-ratio-main">
              <div class="block">
                <div class="photo-blocks">
                  {% for fullbridgian in site.team-ceo %}
                  <div class="photo-block is-primary" id="{{ fullbridgian.tag }}">
                    <a href="#{{ fullbridgian.tag }}" class="photo-block-modal-trigger">
                      <figure>
                        <img src="/img/fullbridgians/portrait-{{ fullbridgian.tag }}.jpg" alt="{{ fullbridgian.name }}">
                      </figure>
                    </a>
                    <h3 class="photo-block-title">
                      {{ fullbridgian.name }}
                    </h3>
                    <div class="photo-block-subtitle">
                      {{ fullbridgian.title }}
                    </div>
                    <div class="photo-block-caption">
                      {{ fullbridgian.content }}
                    </div>
                    <div class="photo-block-modal-close">
                      <a href="#!">Close</a>
                    </div>
                  </div>
                  {% endfor %}
                  {% for fullbridgian in site.team-leadership %}
                  <div class="photo-block is-special" id="{{ fullbridgian.tag }}">
                    <a href="#{{ fullbridgian.tag }}" class="photo-block-modal-trigger">
                      <figure>
                        <img src="/img/fullbridgians/portrait-{{ fullbridgian.tag }}.jpg" alt="{{ fullbridgian.name }}">
                      </figure>
                    </a>
                    <h3 class="photo-block-title">
                      {{ fullbridgian.name }}
                    </h3>
                    <div class="photo-block-subtitle">
                      {{ fullbridgian.title }}
                    </div>
                    <div class="photo-block-caption">
                      {{ fullbridgian.content }}
                    </div>
                    <div class="photo-block-modal-close">
                      <a href="#!">Close</a>
                    </div>
                  </div>
                  {% endfor %}
                  {% for fullbridgian in site.team-foundation %}
                  <div class="photo-block" id="{{ fullbridgian.tag }}">
                    <a href="#{{ fullbridgian.tag }}" class="photo-block-modal-trigger">
                      <figure>
                        <img src="/img/fullbridgians/portrait-{{ fullbridgian.tag }}.jpg" alt="{{ fullbridgian.name }}">
                      </figure>
                    </a>
                    <h3 class="photo-block-title">
                      {{ fullbridgian.name }}
                    </h3>
                    <div class="photo-block-subtitle">
                      <span>{{ fullbridgian.title }}</span>
                      <span class="target">{{ fullbridgian.department }}</span>
                    </div>
                    <div class="photo-block-caption">
                      {{ fullbridgian.content }}
                    </div>
                    <div class="photo-block-modal-close">
                      <a href="#!">Close</a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="golden-ratio-aside">
              <div class="golden-column">
                <small class="article-body">
                  <h3>Vision</h3>
                  <p>
                    Our vision for Fullbridge is to be the most trusted source of learning that increases the value of people, organizations, and even economies.
                  </p>
                  <h3>Mission</h3>
                  <p>
                    We help companies become innovative learning organizations where teams collaborate better, solve problems faster, and stay engaged longer.
                  </p>
                  <h3>Words We Live By</h3>
                  <p>
                    We Own This!
                  </p>
                  <h3>Join Us</h3>
                  <p>
                    We believe we can change the world through innovation in learning. If you have passion for figuring out what matters, want to work hard and play hard, become more curious with every new concept you learn, and don&rsquo;t ever quit, then check us out.
                  </p>
                  <p>
                    <a class="link" href="javascript:">Learn how to become a Fullbridgian</a>
                  </p>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr class="divider" role="separator">
    <section role="region">
      <div class="landing-section">
        <div class="wrapper">
          <div class="side-by-side">
            <div class="side-by-side-column is-main">
              <figure>
                <img src="http://dummyimage.com/1200x800/4d494d/686a82.gif&text=nice-happy-group" alt="placeholder+image">
              </figure>
            </div>
            <aside class="side-by-side-column is-aside">
              <div class="article-body">
                <header role="heading">
                  <h3>
                    Leadership
                  </h3>
                </header>
                <p>
                  We fundamentally believe that the best learning, the learning that really matters and creates value, is that which happens when people learn from people through shared and challenging problem-solving experiences. So, we practice what we preach. Our success in fulfilling our vision depends upon the leadership of each member of our team to innovate by working together, creating idea flow and focusing on data, analysis, methodology and technology to stimulate the learning that matters&mdash;for ourselves and our partners.
                </p>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>
    <!-- {% include closing-argument-statement.html %} -->
  </article>
</main>
