#page-category-is-article
{
  > main
  {
    @include additional-typography;

    article > footer
    {
      @include margin(($paragraph-spacing + em),auto,($paragraph-spacing + em),auto);
    }

    article > header:first-of-type
    {
      > hgroup
      {
        *:first-child
        {
          @include text-align(center);

          & + *
          {
            @extend h4;
            @include margin((-($paragraph-spacing/2) + em),auto,($paragraph-spacing/2 + em),auto);
            @include text-align(center);
          }
        }
      }

      > figure
      {
        @include bp(small)
        {
          margin-right: -$gutter;
          margin-left: -$gutter;
        }

        @include bp(medium)
        {
          margin-right: (-$gutter*1.2);
          margin-left: (-$gutter*1.2);
        }

        @include bp(large)
        {
          margin-right: (-$gutter*2);
          margin-left: (-$gutter*2);
        }

        img
        {
          width: 100%;
        }

        figcaption
        {
          @include padding(0,($gutter/$small-font-size),0,($gutter/$small-font-size));
          @include text-align(center);
        }
      }

      > p:first-of-type
      {
        color: $heading-color;

        @include bp(desktop)
        {
          font-size: 1.22em;
        }

        a
        {
          @include underline(1.12em,0.04em,$body-text-color,$background-color);
        }
      }
    }

    aside
    {
      @include position(relative,auto,auto,auto,auto);
      @include padding(0,0,0,($gutter/2));

      line-height: ($leading*.845);
      border-top: $border;
      z-index: 1;

      &:before
      {
        @include position(absolute,-3px,auto,auto,-3px);
        @include small-diamond;
      }

      @include bp(small)
      {
        @include margin(($paragraph-spacing + em),auto,($paragraph-spacing + em),auto);
        @include padding(0,($gutter/2),0,($gutter/2));
      }

      @include bp($min: ($small-screen + 1))
      {
        @include float(right);

        &:before
        {
          @include position(absolute,-3px,auto,auto,0);
        }
      }

      @include bp($min: ($small-screen + 1), $max: 994px)
      {
        @include margin(.5em,0,0,($gutter/2));

        width: ($golden-characters/3) + ch;
      }

      @include bp($min: 995px, $max: 1199px)
      {
        @include margin(.5em,calc(#{((-$golden-characters + 9)/3) + ch} - #{$gutter/5}),0,0);

        width: (($golden-characters - 9)/3) + ch;
      }

      @include bp($min: 1200px)
      {
        @include margin(.5em,calc(#{(-$golden-characters/3) + ch} - #{$gutter/2}),0,0);

        width: ($golden-characters/3) + ch;
      }
    }

    article
    {
      @include margin(0,auto,0,auto);
      @include padding(auto,auto,($paragraph-spacing*4 + em),auto);

      @include bp(small)
      {
        width: calc(100vw - #{$gutter*2});
      }

      @include bp($min: ($small-screen + 1), $max: 994px)
      {
        width: $golden-characters + ch;
      }

      @include bp($min: 995px, $max: 1199px)
      {
        width: ($golden-characters - 9) + ch;
      }

      @include bp($min: 1200px)
      {
        width: $golden-characters + ch;
      }
    }
  }
}
