.landing-wrapper
{
  @include margin(0,auto,0,auto);

  max-width: $medium-screen;

  @include bp($max: 416px)
  {
    @include padding(0,$gutter,0,$gutter);
  }

  @include bp($min: 416px, $max: 850px)
  {
    @include padding(0,($gutter*2),0,($gutter*2));
  }

  @include bp($min: 850px)
  {
    @include padding(0,($gutter*4),0,($gutter*4));
  }
}

.landing-hero-headlines,
.landing-cta,
.landing-section
{
  @include padding(($paragraph-spacing*2 + em),0,($paragraph-spacing*2 + em),0);
}

.landing-hero
{}

  .landing-hero-headlines
  {
    h1,
    h2
    {
      @include text-align(center);
    }

    h1
    {
      line-height: 1;

      @include bp(small)
      {
        font-size: 10vw;
      }

      @include bp(medium)
      {
        font-size: 4.5vw;
      }

      @include bp(large)
      {
        font-size: 3.6em;
      }
    }

    h2
    {
      @include margin(($paragraph-spacing + em),0,($paragraph-spacing + em),0);
      @include font(body,regular);

      letter-spacing: 0;

      @include bp(small)
      {
        font-size: 4vw;
      }

      @include bp(medium)
      {
        font-size: 2vw;
      }

      @include bp(large)
      {
        font-size: 1.6em;
      }
    }
  }

.landing-cta
{
  @include bp(small)
  {
    > *
    {
      @include margin(($paragraph-spacing*2 + em),auto,($paragraph-spacing*2 + em),auto);
    }
  }

  @include bp(desktop)
  {
    @include display(flex);
    @include justify-content(space-between);
  }
}

  .landing-cta-main
  {
    figure
    {
      @include margin(0,0,0,0);
    }

    img
    {
      width: 100%;
      height: auto;
    }
  }

  .landing-cta-aside
  {
    @include bp(desktop)
    {
      @include flex(0 0 320px);
      @include margin(0,0,0,$gutter);
    }
  }

  .landing-cta-form
  {
    & + *
    {
      @include margin(($paragraph-spacing*2 + em),0,0,0);
    }

    > header
    {
      @include position(relative,auto,auto,auto,auto);
      @include margin(0,0,0,0);
      @include padding(($paragraph-spacing + em),($gutter/2),($paragraph-spacing + em),($gutter/2));

      border-radius: $border-radius;
      background-color: $gray-lighter;

      &:after
      {
        @include position(absolute,auto,auto,0,calc(50% - .4em));
        @include transform(translateY(100%));
        @include triangle-down(.8em,.8em,$gray-lighter);
      }

      & + *
      {
        @include margin(($paragraph-spacing*2 + em),0,0,0);
      }

      h3
      {
        @include margin(0,0,0,0);
        @include text-align(center);
        @include font(body,bold);

        text-transform: uppercase;
        letter-spacing: .2em;
        font-size: 1em;
      }
    }

    .hubspot-form
    {
      button,
      input[type="button"],
      input[type="reset"],
      input[type="submit"]
      {
        display: block;
        width: 100%;
        line-height: 4;
        font-size: 1.2em;
        background-color: $primary-color;

        html:not(.touch) &:hover
        {
          background-color: lighten($primary-color,6%);
        }
      }
    }
  }

.landing-closing
{
  @include padding(0,0,($paragraph-spacing*4 + em),0);
  @include text-align(center);
}

.landing-big-emphasis
{
  @include font(body,regular);

  font-size: 1.3em;
}

.landing-numbered-list
{
  list-style: none;
  counter-reset: li;

  li
  {
    @include position(relative,auto,auto,auto,auto);
    @include margin(($paragraph-spacing + em),auto,($paragraph-spacing + em),auto);
    @include padding(0,0,0,2em);

    color: $heading-color;

    &:before
    {
      @include position(absolute,auto,auto,auto,0);
      @include padding(.2em,0,0,0);
      @include text-align(center);

      width: 1.5em;
      height: 1.5em;
      color: $primary-color;
      line-height: 1;
      content: counter(li);
      counter-increment: li;
      border: 1px solid $muted-color;
      border-radius: 100em;
    }
  }
}

.landing-blockquote
{
  @include display(flex);

  figure
  {
    @include margin(0,0,0,0);

    width: 48px;
  }

  img
  {
    width: 100%;
    height: auto;
    border: 1px solid $muted-color;
    border-radius: 100em;
  }

  blockquote
  {
    @include margin(0,0,0,$gutter);

    quote
    {
      font-size: 1.2em;

      &:before,
      &:after
      {
        color: $muted-color;
        font-size: 2.2em;
      }

      &:before
      {
        @include position(absolute,auto,auto,auto,auto);
        @include transform(translateX(-150%));

        content: "\201C";
        line-height: 1;
      }

      &:after
      {
        @include position(relative,.35em,auto,auto,auto);

        content: "\201D";
        line-height: 0;
      }

      & + *
      {
        @include margin(($paragraph-spacing/2 + em),0,0,0);
      }
    }
  }
}

.landing-dividing-header
{
  @include padding(($paragraph-spacing + em),0,($paragraph-spacing + em),0);
  @include text-align(center);

  h2,
  h3,
  h4,
  h5,
  h6
  {
    @include margin(0,0,0,0);

    line-height: 1.1;
  }
}
