.wrapper
{
  @include margin(0,auto,0,auto);

  max-width: $medium-screen;

  @include bp($max: 416px)
  {
    @include padding(0,$gutter,0,$gutter);
  }

  @include bp($min: 416px)
  {
    @include padding(0,($gutter*2),0,($gutter*2));
  }
}

.even-columns
{
  @include bp(desktop)
  {
    @include display(flex);
    @include justify-content(space-around);
  }

  &.has-gutters
  {
    @include bp(desktop)
    {
      @include margin(auto,(-$gutter/2),auto,(-$gutter/2));

      .even-column
      {
        @include margin(($paragraph-spacing + em),($gutter/2),($paragraph-spacing + em),($gutter/2));
      }
    }
  }

  &.is-wrapped
  {
    @include bp(desktop)
    {
      @include flex-wrap(wrap);
    }
  }
}

  .even-column
  {
    @include bp(small)
    {
      @include margin(($paragraph-spacing*2 + em),auto,($paragraph-spacing*2 + em),auto);
    }

    @include bp(desktop)
    {
      @include flex(1);
    }

    img
    {
      max-width: 100%;
    }
  }

.golden-column
{
  @include margin(0,auto,0,auto);

  @include bp(small)
  {
    max-width: calc(100vw - #{$gutter*2});
  }

  @include bp($min: ($small-screen + 1), $max: 994px)
  {
    max-width: $golden-characters + ch;
  }

  @include bp($min: 995px, $max: 1199px)
  {
    max-width: ($golden-characters - 9) + ch;
  }

  @include bp($min: 1200px)
  {
    max-width: $golden-characters + ch;
  }
}

  .golden-column-aside
  {
    @include position(relative,auto,auto,auto,auto);
    @include padding(0,0,0,($gutter/2));

    line-height: ($leading*.845);
    border-top: 1px solid $gray-lighter;
    z-index: 1;

    &:before
    {
      @include position(absolute,-5px,auto,auto,-5px);

      display: block;
      width: 10px;
      height: 10px;
      content: "";
      color: $background-color;
      border: 3px solid;
      border-radius: 10px;
      background-color: $heading-color;
      line-height: 1;
    }

    @include bp(small)
    {
      @include margin(($paragraph-spacing + em),auto,($paragraph-spacing + em),auto);
      @include padding(0,($gutter/2),0,($gutter/2));

      border-bottom: 1px solid $gray-lighter;

      &:before
      {
        display: none;
      }
    }

    @include bp(desktop)
    {
      @include float(right);

      &:before
      {
        @include position(absolute,-5px,auto,auto,0);
      }
    }

    @include bp($min: ($small-screen + 1), $max: 1090px)
    {
      @include margin(.5em,0,0,($gutter/2));

      width: ($golden-characters/3) + ch;
    }

    @include bp($min: 1090px, $max: 1286px)
    {
      @include margin(.5em,calc(#{((-$golden-characters + 9)/3) + ch} - #{$gutter/5}),0,0);

      width: (($golden-characters - 9)/3) + ch;
    }

    @include bp($min: 1286px)
    {
      @include margin(.5em,calc(#{(-$golden-characters/3) + ch} - #{$gutter/2}),0,0);

      width: ($golden-characters/3) + ch;
    }
  }

.side-by-side
{
  @include display(flex);
  @include margin(($paragraph-spacing*2 + em),auto,($paragraph-spacing*2 + em),auto);

  @include bp($max: 1126px)
  {
    @include flex-direction(column);
  }

  @include bp($min: 1126px)
  {
    @include justify-content(space-around);
    @include align-items(center);
  }
}

  .side-by-side-column
  {
    @include bp($max: 1126px)
    {
      @include margin(0,auto,0,auto);

      &.is-main
      {
        @include order(1);

        max-width: $golden-characters + ch;
      }

      &.is-aside
      {
        min-width: 100%;
      }
    }

    @include bp($min: 1126px)
    {
      &:nth-child(1)
      {
        @include padding(0,$gutter,0,0);
      }

      &:nth-child(2)
      {
        @include padding(0,0,0,$gutter);
      }

      &.is-main
      {
        width: $golden-main-width*1%;
      }

      &.is-aside
      {
        width: $golden-side-width*2%;
      }
    }

    figure
    {
      @include text-align(center);

      img
      {
        max-width: 100%;
        height: auto;
      }
    }
  }

.photo-blocks
{
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include margin(-($paragraph-spacing + em),-($gutter/2),-($paragraph-spacing + em),-($gutter/2));
}

  .photo-block
  {
    @include text-align(center);

    figure
    {
      @include margin(0,0,0,0);

      border: 1px solid $gray-light;
      border-radius: $border-radius*2;
      overflow: hidden;

      img
      {
        width: 100%;
        height: auto;
      }
    }

    .photo-block-title
    {
      @include margin(($paragraph-spacing + em),0,0,0);
      @include font(heading,bold);

      letter-spacing: 0;
      font-size: 1em;
    }

    .photo-block-subtitle
    {
      @include margin(($paragraph-spacing/1.5 + em),0,0,0);
      @include font(body,regular);

      color: $heading-color;
      line-height: 1.15;
      text-transform: uppercase;
      letter-spacing: .1em;
      font-size: .6em;
    }

    &.is-primary
    {
      .photo-block-title
      {
        color: $primary-color;
      }
    }

    &.is-special
    {
      .photo-block-title
      {
        color: $secondary-color;
      }
    }

    &:not(:target)
    {
      @include margin(($paragraph-spacing + em),($gutter/2),($paragraph-spacing + em),($gutter/2));

      width: 200px;

      @include bp(small)
      {
        width: 230px;
      }

      /*@include bp(medium)
      {
        width: calc((100%/3) - #{$gutter});
      }

      @include bp(large)
      {
        width: calc((100%/4) - #{$gutter});
      }*/

      .photo-block-modal-trigger
      {
        @include transition(box-shadow $timing ease-in-out);

        display: block;
        border-radius: $border-radius*2;
        overflow: hidden;

        html:not(.touch) &:hover
        {
          box-shadow: $box-shadow;
        }
      }

      .photo-block-subtitle *:not(.target),
      .photo-block-caption,
      .photo-block-modal-close
      {
        @include visuallyhidden;
      }

      &.is-special
      {
        .photo-block-modal-trigger
        {
          html:not(.touch) &:hover
          {
            box-shadow: 0 0 5px $secondary-color;
          }
        }
      }

      &.is-primary
      {
        .photo-block-modal-trigger
        {
          html:not(.touch) &:hover
          {
            box-shadow: 0 0 5px $primary-color;
          }
        }
      }

      &.is-text-based
      {
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(space-around);
        @include padding(($gutter/2),($gutter/2),($gutter/2),($gutter/2));
        @include text-align(left);

        width: calc(400px + #{$gutter});
        border: 1px solid $gray-lighter;
        border-radius: $border-radius*2;
      }
    }

    &:target
    {
      @include padding(($paragraph-spacing*5 + em),$gutter,($paragraph-spacing*5 + em),$gutter);
      @include vertical-scroll;

      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba($background-color,.95);
      z-index: $modal-z;

      > *
      {
        margin-right: auto;
        margin-left: auto;
      }

      .photo-block-modal-trigger
      {
        @include animated--fadeInDown;

        display: block;
        width: 250px;
      }

      .photo-block-modal-close
      {
        @include position(fixed,auto,0,0,0);
        @include padding(($paragraph-spacing + em),$gutter,($paragraph-spacing + em),$gutter);
        @include text-align(center);

        width: 100vw;
        background-color: $background-color;

        a
        {
          @include padding(0,0,0,.1em);

          display: inline-block;
          color: $heading-color;
          letter-spacing: .1em;
          text-transform: uppercase;
          font-size: .8em;
          border-bottom: 1px solid;

          html:not(.touch) &:hover
          {
            color: $link-color;
          }
        }
      }

      .photo-block-subtitle *.target
      {
        @include visuallyhidden;
      }

      .photo-block-title,
      .photo-block-subtitle *:not(.target),
      .photo-block-caption,
      .photo-block-modal-close
      {
        @include animated--fadeInUp;
      }

      .photo-block-title,
      .photo-block-subtitle,
      .photo-block-caption
      {
        max-width: $golden-characters + ch;
      }
    }
  }

.golden-ratio
{
  @include bp($min: 1100px)
  {
    @include display(flex);
  }
}

  .golden-ratio-main
  {
    @include bp($max: 1100px)
    {
      @include margin(0,0,($paragraph-spacing*3 + em),0);
    }

    @include bp($min: 1100px)
    {
      @include flex(1 0 ($golden-main-width*1%));
      @include order(1);
      @include margin(0,0,0,$gutter*2);
    }
  }

  .golden-ratio-aside
  {
    @include bp($min: 1100px)
    {
      @include flex(0 0 ($golden-side-width*1%));

      line-height: ($leading*.845);
    }
  }
