      <footer class="main-footer">
        {% include full-menu.html %}
      </footer>
      <div class="modal" id="contact-us">
        <a href="" class="modal-shadow"></a>
        <div class="modal-content">
          <div class="hubspot-form">
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
             hbspt.forms.create({
               css: "",
               portalId: "162012",
               formId: "d3f1fcd9-46e2-48b8-8ae0-a6db8edb2aa0"
             });
            </script>
          </div>
        </div>
      </div>
      <!-- Extra shit I might need
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="/js/main.js"></script>
      -->
    </body>
    <!-- Lazy loading web fonts -->
    <script>
      document.body.onload = function() {
        var xhr = new XMLHttpRequest();
        var url = '{{ site.sans-stack }}';

        xhr.open('GET', url, true);
        xhr.onreadystatechange = function () {
          if (xhr.readyState == 4 && xhr.status == 200) {
            var style = document.createElement('style');
            style.innerHTML = xhr.responseText;
            document.head.appendChild(style);
          }
        };
        xhr.send();
      }
    </script>
</html>
