      <footer class="main-footer">
        {% include full-menu.html %}
      </footer>
      <div class="modal" id="contact-us">
        <a href="" class="modal-shadow"></a>
        <div class="modal-content">
          <div class="hubspot-form">
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
             hbspt.forms.create({
               css: "",
               portalId: "162012",
               formId: "d3f1fcd9-46e2-48b8-8ae0-a6db8edb2aa0"
             });
            </script>
          </div>
        </div>
      </div>
      <!-- Extra shit I might need
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="/js/main.js"></script>
      -->
    </body>
    <!-- Lazy loading web fonts -->
    <script>
      document.body.onload = function() {
        var xhr = new XMLHttpRequest();
        var url = '{{ site.sans-stack }}';

        xhr.open('GET', url, true);
        xhr.onreadystatechange = function () {
          if (xhr.readyState == 4 && xhr.status == 200) {
            var style = document.createElement('style');
            style.innerHTML = xhr.responseText;
            document.head.appendChild(style);
          }
        };
        xhr.send();
      }
    </script>
    <!-- Intercom -->
    <script>
      window.intercomSettings = {
        app_id: "e6on1lg6"
      };
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/e6on1lg6';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
</html>
