<div class="full-menu">
  <ul class="full-menu-items">
    <li class="full-menu-item is-primary">
      <ul>
        <li>
          <a href="/team">
            Team
          </a>
        </li>
        <li>
          <a href="/global-partners">
            Global Partners
          </a>
        </li>
        <!-- <li>
          <a href="//blog.fullbridge.com">
            Blog
          </a>
        </li> -->
        <li>
          <a href="//platform.fullbridge.com">
            Log in to Lyra
          </a>
        </li>
      </ul>
    </li>
    <hr role="separator">
    <li class="full-menu-item is-secondary">
      <strong>
        What we do
      </strong>
      <ul>
        <li>
          <a href="/the-future-of-learning">
            The Future of Learning
          </a>
        </li>
        <li>
          <a href="/a-culture-of-learning">
            A Culture of Learning
          </a>
        </li>
        <li>
          <a href="/lyra-technology">
            Lyra&trade; Technology
          </a>
        </li>
      </ul>
    </li>
    <li class="full-menu-item is-secondary">
      <strong>
        Who we help
      </strong>
      <ul>
        <li>
          <a href="/corporate">
            Corporate
          </a>
        </li>
        <li>
          <a href="/law">
            Law
          </a>
        </li>
        <li>
          <a href="/higher-ed">
            Higher-Ed
          </a>
        </li>
      </ul>
    </li>
    <li class="full-menu-item is-secondary">
      <strong>
        Products
      </strong>
      <ul>
        <li>
          <a href="/product/learning-labs">
            Learning Labs
          </a>
        </li>
        <li>
          <a href="/product/working-labs">
            Working Labs
          </a>
        </li>
        <!-- <li>
          <a href="/product/learning-modules">
            Learning Modules
          </a>
        </li> -->
      </ul>
    </li>
    <li class="full-menu-item is-secondary">
      <strong>
        Engage
      </strong>
      <ul>
        <li>
          <a href="#contact-us">
            Contact Us
          </a>
        </li>
        <li>
          <div class="social-icons">
            <a href="//www.linkedin.com/company/fullbridge" class="icon-linkedin" target="_blank">
              <span>LinkedIn</span>
            </a>
            <a href="//www.facebook.com/fullbridgeinc/" class="icon-facebook" target="_blank">
              <span>Facebook</span>
            </a>
            <a href="https://twitter.com/fullbridge_inc" class="icon-twitter" target="_blank">
              <span>Twitter</span>
            </a>
          </div>
        </li>
      </ul>
    </li>
    <li class="full-menu-item is-secondary">
      <strong>Fullbridge, Inc.</strong>
      <ul>
        <li>
          38 Chauncy Street<br>
          Suite 1100<br>
          Boston, MA 02111<br>
          p: +1 (857) 233-2323<br>
          e: programs@fullbridge.com
        </li>
      </ul>
    </li>
  </ul>
</div>
