<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Mobile view styles -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="cleartype" content="on">

    <!-- SEO stuff -->
    {% if page.current == "template" %}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="touch-icon-ipad-retina.png" />
    <meta property="og:url" content="{{ site.url }}{{ page.permalink }}" />
    {% if page.current == "home" %}
    <meta property="og:site_name" content="{{ site.author }}: {{ page.title }}" />
    <meta property="og:title" content="{{ site.author }}: {{ page.title }}" />
    <title>{{ site.author }}: {{ page.title }}</title>
    {% else %}
    <meta property="og:site_name" content="{{ page.title }} | {{ site.author }}" />
    <meta property="og:title" content="{{ page.title }} | {{ site.author }}" />
    <title>{{ page.title }} | {{ site.author }}</title>
    {% endif %}
    <link rel="canonical" href="{{ site.url }}{{ page.permalink }}">

    <!-- Thumbnails -->
    <link rel="image_src" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="/favicon.ico">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="{{ site.font-stack }}">
    <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/68795/Fullbridgemarketingsite/style-cf.css?t9s27s">

    <!-- JS -->
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>

    {% if site.ga-id %}
    <!-- site.ga-id is a variable in the config.yml -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.ga-id }}', 'auto');
      ga('send', 'pageview');

    </script>
    {% endif %}
  </head>
  <body {% if page.category %}id="page-category-is-{{ page.category }}"{% endif %} {% if page.current %}data-current-page="{{ page.current }}"{% endif %}>
