    <nav role="navigation" class="main-menu">
      <div class="main-menu-wrapper">
        {% if page.current == "home" %}
        <h1 class="main-menu-logo">
        {% else %}
        <h2 class="main-menu-logo">
        {% endif %}
          <a href="{{ site.url }}" title="{{ site.author }}">
            <img src="/img/logo-fullbridge.png" alt="{{ site.author }}">
            <span>{{ site.author }}</span>
          </a>
        {% if page.current == "home" %}
        </h1>
        {% else %}
        </h2>
        {% endif %}
        <ul class="main-menu-items">
          <li class="main-menu-item is-dropdown">
            <strong class="trigger">
              Products
            </strong>
            <ul>
              <li>
                <a href="javascript:">
                  Learning Labs
                </a>
              </li>
              <li>
                <a href="javascript:">
                  Working Labs
                </a>
              </li>
              <li>
                <a href="javascript:">
                  Learning Modules
                </a>
              </li>
            </ul>
          </li>
          <li class="main-menu-item is-dropdown">
            <strong class="trigger">
              Who we help
            </strong>
            <ul>
              <li>
                <a href="javascript:">
                  Corporate
                </a>
              </li>
              <li>
                <a href="javascript:">
                  Law
                </a>
              </li>
              <li>
                <a href="javascript:">
                  Higher-Ed
                </a>
              </li>
            </ul>
          </li>
          <li class="main-menu-item is-full-menu">
            <a href="javascript:" class="trigger">
              <span>View full menu</span>
            </a>
            {% include full-menu.html %}
          </li>
          <li class="main-menu-item is-cta">
            <a href="#contact-us">
              <span>Request a</span> demo
            </a>
          </li>
        </ul>
      </div>
      <div class="modal" id="contact-us">
        <a href="#" class="modal-shadow"></a>
        <div class="modal-content">
          <div class="hubspot-form">
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
             hbspt.forms.create({
               css: "",
               portalId: "162012",
               formId: "d3f1fcd9-46e2-48b8-8ae0-a6db8edb2aa0"
             });
            </script>
          </div>
        </div>
      </div>
    </nav>
