    <nav role="navigation" class="main-menu">
      {% if page.current == "home" %}
      <h1 class="main-menu-logo">
      {% else %}
      <h2 class="main-menu-logo">
      {% endif %}
        <a href="{{ site.url }}" title="{{ site.author }}">
          <img src="/img/logo-fullbridge.png" alt="{{ site.author }}">
          <span>{{ site.author }}</span>
        </a>
      {% if page.current == "home" %}
      </h1>
      {% else %}
      </h2>
      {% endif %}
      <ul class="main-menu-items">
        <li class="main-menu-item is-dropdown">
          <strong class="trigger">
            Products
          </strong>
          <ul>
            <li>
              <a href="javascript:">
                Learning Labs
              </a>
            </li>
            <li>
              <a href="javascript:">
                Working Labs
              </a>
            </li>
            <li>
              <a href="javascript:">
                Learning Modules
              </a>
            </li>
          </ul>
        </li>
        <li class="main-menu-item is-dropdown">
          <strong class="trigger">
            Who we help
          </strong>
          <ul>
            <li>
              <a href="javascript:">
                Corporate
              </a>
            </li>
            <li>
              <a href="javascript:">
                Law
              </a>
            </li>
            <li>
              <a href="javascript:">
                Higher-Ed
              </a>
            </li>
          </ul>
        </li>
        <li class="main-menu-item is-full-menu">
          <a href="javascript:" class="trigger">
            <span>View full menu</span>
          </a>
          <div class="full-menu">
            <ul class="full-menu-items">
              <li class="full-menu-item is-primary">
                <ul>
                  <li>
                    <a href="javascript:">
                      Team
                    </a>
                  </li>
                  <li>
                    <a href="javascript:">
                      Global Partners
                    </a>
                  </li>
                  <li>
                    <a href="javascript:">
                      Media
                    </a>
                  </li>
                  <li>
                    <a href="javascript:">
                      Outreach
                    </a>
                  </li>
                  <li>
                    <a href="javascript:">
                      Log in to Lyra
                    </a>
                  </li>
                </ul>
              </li>
              <hr role="separator">
              <li class="full-menu-item is-secondary">
                <strong>
                  What we do
                </strong>
                <ul>
                  <li>
                    <a href="javascript:">
                      The Future of Learning
                    </a>
                  </li>
                  <li>
                    <a href="javascript:">
                      A Culture of Learning
                    </a>
                  </li>
                  <li>
                    <a href="javascript:">
                      Lyra&trade; Learning
                    </a>
                  </li>
                </ul>
              </li>
              <li class="full-menu-item is-secondary">
                <strong>
                  Who we help
                </strong>
                <ul>
                  <li>
                    <a href="javascript:">
                      Corporate
                    </a>
                  </li>
                  <li>
                    <a href="javascript:">
                      Law
                    </a>
                  </li>
                  <li>
                    <a href="javascript:">
                      Higher-Ed
                    </a>
                  </li>
                </ul>
              </li>
              <li class="full-menu-item is-secondary">
                <strong>
                  Products
                </strong>
                <ul>
                  <li>
                    <a href="javascript:">
                      Learning Labs
                    </a>
                  </li>
                  <li>
                    <a href="javascript:">
                      Working Labs
                    </a>
                  </li>
                  <li>
                    <a href="javascript:">
                      Learning Modules
                    </a>
                  </li>
                </ul>
              </li>
              <li class="full-menu-item is-secondary">
                <strong>
                  Engage
                </strong>
                <ul>
                  <li>
                    <a href="javascript:">
                      Contact Us
                    </a>
                  </li>
                  <li>
                    <a href="javascript:">
                      Careers
                    </a>
                  </li>
                  <li>
                    <a href="javascript:">
                      Webinars
                    </a>
                  </li>
                </ul>
              </li>
              <li class="full-menu-item is-secondary">
                <strong>Fullbridge, Inc.</strong>
                <ul>
                  <li>
                    38 Chauncy Street<br>
                    Suite 1100<br>
                    Boston, MA 02111<br>
                    p: +1 (857) 233-2323<br>
                    e: programs@fullbridge.com
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li class="main-menu-item is-cta">
          <a href="#contact-us">
            <span>Request a</span> demo
          </a>
        </li>
      </ul>
    </nav>
