    <nav role="navigation" class="main-menu">
      {% if page.current == "home" %}
      <h1>
      {% else %}
      <h2>
      {% endif %}
        <a href="{{ site.url }}" title="{{ site.author }}">
          <img src="/img/logo-fullbridge.png" alt="{{ site.author }}">
          <span>{{ site.author }}</span>
        </a>
      {% if page.current == "home" %}
      </h1>
      {% else %}
      </h2>
      {% endif %}
      <ul>
        <li>
          <strong>
            Products
          </strong>
          <ul>
            <li>
              <a href="javascript:">
                Learning Labs
              </a>
            </li>
            <li>
              <a href="javascript:">
                Working Labs
              </a>
            </li>
            <li>
              <a href="javascript:">
                Learning Modules
              </a>
            </li>
          </ul>
        </li>
        <li>
          <strong>
            Who we help
          </strong>
          <ul>
            <li>
              <a href="javascript:">
                Corporate
              </a>
            </li>
            <li>
              <a href="javascript:">
                Law
              </a>
            </li>
            <li>
              <a href="javascript:">
                Higher-ed
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:">
            Menu
          </a>
          <ol class="full-menu">
            <li>
              <ul>
                <li>
                  <a href="javascript:">
                    Team
                  </a>
                </li>
                <li>
                  <a href="javascript:">
                    Global Partners
                  </a>
                </li>
                <li>
                  <a href="javascript:">
                    Media
                  </a>
                </li>
                <li>
                  <a href="javascript:">
                    Outreach
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <strong>
                Products
              </strong>
              <ul>
                <li>
                  <a href="javascript:">
                    Learning Labs
                  </a>
                </li>
                <li>
                  <a href="javascript:">
                    Working Labs
                  </a>
                </li>
                <li>
                  <a href="javascript:">
                    Learning Modules
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <strong>
                What we do
              </strong>
              <ul>
                <li>
                  <a href="javascript:">
                    The Future of Learning
                  </a>
                </li>
                <li>
                  <a href="javascript:">
                    A Culture of Learning
                  </a>
                </li>
                <li>
                  <a href="javascript:">
                    Lyra&trade; Learning
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <strong>
                Who we help
              </strong>
              <ul>
                <li>
                  <a href="javascript:">
                    Corporate
                  </a>
                </li>
                <li>
                  <a href="javascript:">
                    Law
                  </a>
                </li>
                <li>
                  <a href="javascript:">
                    Higher-Ed
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <strong>
                Engage
              </strong>
              <ul>
                <li>
                  <a href="javascript:">
                    Contact Us
                  </a>
                </li>
                <li>
                  <a href="javascript:">
                    Careers
                  </a>
                </li>
                <li>
                  <a href="javascript:">
                    Webinars
                  </a>
                </li>
                <li>
                  <a href="javascript:">
                    Log In
                  </a>
                </li>
              </ul>
            </li>
          </ol>
        </li>
        <li>
          <a href="javascript:">
            Demo
          </a>
        </li>
      </ul>
    </nav>
