/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*,
*:before,
*:after
{
  @include border-box;
}

body
{
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(space-between);

  min-height: 100vh;
  background-color: $background-color;

  > *
  {
    width: 100vw;
  }
}

@supports(pointer-events: none) {
  body::after
  {
    @include position(fixed,auto,auto,0,0);

    display: block;
    width: 100vw;
    height: 15vh;
    content: "";
    pointer-events: none;
    background: linear-gradient(rgba($background-color,0), rgba($background-color,1));
    z-index: $page-fade-z;
  }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection
{
  color: black;
  text-shadow: none;
  background: $highlight-background-color;
}

::selection
{
  color: black;
  text-shadow: none;
  background: $highlight-background-color;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video
{
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset
{
  margin: 0;
  padding: 0;
  border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea
{
  resize: vertical;
}
