.button
{
  @include padding(0,($gutter*2),0,($gutter*2));
  @include truncate;
  @include transition(background-color $timing ease-in-out);

  display: inline-block;
  max-width: 100%;
  line-height: 4;
  white-space: nowrap;
  border-radius: $border-radius;

  @include bp(small)
  {
    @include padding(0,$gutter,0,$gutter);

    line-height: 2.5;

    span
    {
      font-size: .7em;
    }
  }

  span
  {
    @include font(body,bold);

    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .9em;
  }

  &.is-primary
  {
    color: $background-color;
    background-color: $primary-color;

    html:not(.touch) &:hover
    {
      background-color: lighten($primary-color,6%);
    }
  }

  &.is-secondary
  {
    color: $background-color;
    background-color: $heading-color;

    html:not(.touch) &:hover
    {
      background-color: lighten($heading-color,16%);
    }
  }

  &.is-small
  {
    line-height: 2.5;

    span
    {
      font-size: .7em;
    }
  }
}

.link
{
  border-bottom: 1px solid;

  &:visited
  {
    color: $body-text-color;
  }

  &:hover
  {
    color: $link-color;
  }

  &:visited:hover
  {
    color: $link-visited-color;
  }

  &:active
  {
    color: $link-visited-color;
  }
}
