form
{
  @include margin(($paragraph-spacing + em),auto,($paragraph-spacing + em),auto);

  display: block;

  ::-webkit-input-placeholder
  {
    color: $placeholder-text-color;
  }

  :-moz-placeholder
  { /* Firefox 18- */
    color: $placeholder-text-color;
  }

  ::-moz-placeholder
  { /* Firefox 19+ */
    color: $placeholder-text-color;
  }

  :-ms-input-placeholder
  {
    color: $placeholder-text-color;
  }

  fieldset,
  legend,
  label,
  select,
  #{$all-text-inputs},
  textarea
  {
    display: block;
  }

  fieldset,
  label,
  select,
  input,
  textarea
  {
    @include font(body,regular);
  }

  label
  {
    cursor: pointer;

    & + label
    {
      margin-top: -1px;
    }

    > p
    {
      @include visuallyhidden;
    }

    > div
    {
      @include position(relative,auto,auto,auto,auto);
    }

    > #{$all-text-inputs},
    > div
    {
      width: 100%;
      color: $body-text-color;
      border: $border;
      background-color: $background-color;
    }

    > #{$all-text-inputs},
    select
    {
      @include padding(0,($gutter/2),0,($gutter/2));

      line-height: 3;
    }

    > textarea,
    > div
    {
      @include padding(($paragraph-spacing*.85 + em),($gutter/2),($paragraph-spacing*.85 + em),($gutter/2));

      line-height: $leading;
    }

    &[for^="radio-"],
    &[for^="checkbox-"]
    {
      > div
      {
        @include padding(($paragraph-spacing*.85 + em),($gutter/2),($paragraph-spacing*.85 + em),($gutter*1.2));
        @include transition(box-shadow $timing ease-in-out);

        &:before,
        &:after
        {
          @include position(absolute,($paragraph-spacing*1.05 + em),auto,auto,($gutter/2));

          display: block;
          content: "";
        }

        &:before
        {
          width: 1em;
          height: 1em;
          border: $border;
        }

        &:after
        {
          @include transition(border $timing ease-in-out);

          width: 0;
          height: 0;
        }
      }

      input
      {
        @include visuallyhidden;

        &:focus + div
        {
          @include position(relative,auto,auto,auto,auto);

          z-index: 1;
          box-shadow: 0 0 5px $body-text-color;
        }

        &:checked + div
        {
          @include font(body,bold);

          &:after
          {
            width: 1em;
            height: 1em;
            border: .25em solid $background-color;
            background-color: $body-text-color;
            box-shadow: 0 0 1px $body-text-color;
          }
        }
      }
    }

    &[for^="radio-"]
    {
      > div
      {
        &:before,
        &:after
        {
          border-radius: 100%;
        }
      }
    }

    &[for^="select-"] > div
    {
      height: 3em;

      select
      {
        @include position(absolute,-1px,-1px,-1px,-1px);
        @include appearance(none);

        width: calc(100% + 2px);
        color: $body-text-color;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 0;
        background-color: transparent;

        &::-ms-expand
        {
            display: none;
        }
      }

      &:after
      {
        @include position(absolute,auto,($gutter/2),auto,auto);
        @include triangle-down(.3em, .5em, $body-text-color);
        @include center(y);

        pointer-events: none;
      }
    }
  }

  button
  {
    @include padding(0,$gutter,0,$gutter);

    color: $background-color;
    line-height: 3;
    white-space: nowrap;
    border: none;
    background-color: $heading-color;
  }

  #{$all-text-inputs},
  select,
  button
  {
    @include transition(box-shadow $timing ease-in-out);

    &:focus
    {
      @include position(relative,auto,auto,auto,auto);

      outline: none;
      z-index: 1;
      box-shadow: 0 0 5px $body-text-color;
    }
  }

  legend
  {
    @extend h4;

    width: 100%;

    & + label
    {
      margin-top: 0;
    }
  }

  fieldset
  {
    > *:last-child
    {
      margin-bottom: $paragraph-spacing + em;
    }
  }

  > div:last-of-type
  {
    margin-bottom: $paragraph-spacing + em;
  }

  > footer
  {
    @include margin(($paragraph-spacing + em),auto,($paragraph-spacing + em),auto);
  }
}
