.modal
{
  @include position(fixed,0,0,0,0);

  width: 100vw;
  height: 100vh;
  z-index: $modal-z;

  @include bp(desktop)
  {
    @include padding(($paragraph-spacing*4 + em),$gutter,($paragraph-spacing*4 + em),$gutter);
    @include vertical-scroll;

    background-color: rgba(black,.9);
  }

  &:not(:target)
  {
    @include visuallyhidden;
  }

  &:target
  {
    @include bp(small)
    {
      .modal-shadow
      {
        @include animated--fadeInRight;
      }

      .modal-content
      {
        @include animated--fadeInRight;
      }
    }

    @include bp(desktop)
    {
      .modal-shadow
      {
        @include animated--fadeInUp;
      }

      .modal-content
      {
        @include animated--fadeInUp;
      }
    }
  }
}

.modal-shadow
{
  display: block;

  &:before
  {
    @include position(absolute,.5em,.5em,auto,auto);
    @include transform(rotate(45deg));
    @include font(body,bold);

    display: block;
    content: "+";
    line-height: 1;
    font-size: 1.5em;
  }

  @include bp(small)
  {
    @include position(fixed,0,0,auto,auto);

    width: 1.5em;
    height: 1.5em;
    z-index: 1;

    &:before
    {
      color: $heading-color;
    }
  }

  @include bp(desktop)
  {
    @include position(fixed,0,0,0,0);

    width: 100vw;
    height: 100vh;
    z-index: -1;

    &:before
    {
      color: $background-color;
    }
  }
}

.modal-content
{
  @include padding(($paragraph-spacing + em),$gutter,($paragraph-spacing + em),$gutter);

  background-color: $background-color;

  @include bp(small)
  {
    @include vertical-scroll;

    width: 100vw;
    height: 100vh;
  }

  @include bp(desktop)
  {
    @include margin(0,auto,0,auto);

    max-width: $golden-characters + ch;
    border-radius: $border-radius;
  }
}
